{
  "user_home_dir": "/home/slawler/workbench/repos/go-wat",
  "input_data_directoy": "test-data",
  "output_data_directoy": "test-data",
  "hydro_model_info": "sample-data/hsm-example-model.json",
  "total_realizations": 2,
  "lifecycles_per_realization": 3,
  "initial_realization_seed": 1234,
  "initial_event_seed": 1234
}